<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="fragments/layout">

<head>
    <title>Star Wars</title>
</head>

<body>

<div layout:fragment="content">
    <div class="jumbotron" style="text-align: center">
        <h1 style="text-align: center" th:text="${species.name}"></h1>
        <hr/>
        <table>
            <tr>
                <th>Name</th>
                <td th:text="${species.name}"></td>
            </tr>
            <tr>
                <th>Classification</th>
                <td th:text="${species.classification}"></td>
            </tr>
            <tr>
                <th>Designation</th>
                <td th:text="${species.designation}"></td>
            </tr>
            <tr>
                <th>Average Height</th>
                <td th:text="${species.average_height}"></td>
            </tr>
            <tr>
                <th>Skin Colors</th>
                <td th:text="${species.skin_colors}"></td>
            </tr>
            <tr>
                <th>Hair Colors</th>
                <td th:text="${species.hair_colors}"></td>
            </tr>
            <tr>
                <th>Eye Colors</th>
                <td th:text="${species.eye_colors}"></td>
            </tr>
            <tr>
                <th>Average Lifespan</th>
                <td th:text="${species.average_lifespan}"></td>
            </tr>
            <tr>
                <th>Homeworld</th>
                <td><a class="hyperlink-text" th:href="@{/planets/details(name=${species.homeworld})}" th:text="${species.homeworld}">Planet Name</a></td>
            </tr>
            <tr>
                <th>Language</th>
                <td th:text="${species.language}"></td>
            <tr>
                <th>People</th>
                <td>
                    <div th:each="person : ${species.people}">
                        <a class="hyperlink-text" th:href="@{/people/details(name=${person})}" th:text="${person}">Name</a>
                    </div>
                </td>
            </tr>
            </tr>
            <tr>
                <th>Films</th>
                <td>
                    <div th:each="film : ${species.films}">
                        <a class="hyperlink-text" th:href="@{/films/details(title=${film})}" th:text="${film}">Title</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>

