<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Star Wars</title>
</head>

<body>

<div th:fragment="navigation">
    <ul id="top-navbar">
        <li><a class="active hyperlink-text-home" href="/">Home</a></li>
        <li><a class="hyperlink-text-nav" href="/films">Films</a></li>
        <li><a class="hyperlink-text-nav" href="/people">People</a></li>
        <li><a class="hyperlink-text-nav" href="/species">Species</a></li>
        <li><a class="hyperlink-text-nav" href="/planets">Planets</a></li>
        <li><a class="hyperlink-text-nav" href="/vehicles">Vehicles</a></li>
        <li><a class="hyperlink-text-nav" href="/starships">Starships</a></li>
    </ul>
    <br/>
    <br/>
    <br/>
</div>


</body>

</html>