<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="fragments/layout">

<head>
    <title>Star Wars</title>
</head>

<body>

<div layout:fragment="content">
    <div class="jumbotron" style="text-align: center">
        <h1 style="text-align: center" th:text="${film.title}"></h1>
        <hr/>
        <table>
            <tr>
                <th>Title</th>
                <td th:text="${film.title}"></td>
            </tr>
            <tr>
                <th>Episode</th>
                <td th:text="${film.episode_id}"></td>
            </tr>
            <tr>
                <th>Opening Crawl</th>
                <td th:text="${film.opening_crawl}"></td>
            </tr>
            <tr>
                <th>Director</th>
                <td th:text="${film.director}"></td>
            </tr>
            <tr>
                <th>Producer</th>
                <td th:text="${film.producer}"></td>
            </tr>
            <tr>
                <th>Release Date</th>
                <td th:text="${film.release_date}"></td>
            </tr>
            <tr>
                <th>Characters</th>
                <td>
                    <div th:each="character : ${film.characters}">
                        <a class="hyperlink-text" th:href="@{/people/details(name=${character})}" th:text="${character}">Name</a>
                    </div>
                </td>
            </tr>
            <tr>
                <th>Planets</th>
                <td>
                    <div th:each="planet : ${film.planets}">
                        <a class="hyperlink-text" th:href="@{/planets/details(name=${planet})}" th:text="${planet}">Name</a>
                    </div>
                </td>
            </tr>
            <tr>
                <th>Starships</th>
                <td>
                    <div th:each="starship : ${film.starships}">
                        <a class="hyperlink-text" th:href="@{/starships/details(name=${starship})}" th:text="${starship}">Name</a>
                    </div>
                </td>
            </tr>
            <tr>
                <th>Vehicles</th>
                <td>
                    <div th:each="vehicle : ${film.vehicles}">
                        <a class="hyperlink-text" th:href="@{/vehicles/details(name=${vehicle})}" th:text="${vehicle}">Name</a>
                    </div>
                </td>
            </tr>
            <tr>
                <th>Species</th>
                <td>
                    <div th:each="species : ${film.species}">
                        <a class="hyperlink-text" th:href="@{/species/details(name=${species})}" th:text="${species}">Name</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>

