<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="fragments/layout">

<head>
    <title>Star Wars</title>
</head>

<body>

<div layout:fragment="content">
    <div class="jumbotron" style="text-align: center">
        <h1 style="text-align: center" th:text="${film.title}"></h1>
        <hr/>
        <table>
            <tr>
                <th>Title</th>
                <td th:text="${film.title}"></td>
            </tr>
            <tr>
                <th>Episode</th>
                <td th:text="${film.episode_id}"></td>
            </tr>
            <tr>
                <th>Opening Crawl</th>
                <td th:text="${film.opening_crawl}"></td>
            </tr>
            <tr>
                <th>Director</th>
                <td th:text="${film.director}"></td>
            </tr>
            <tr>
                <th>Producer</th>
                <td th:text="${film.producer}"></td>
            </tr>
            <tr>
                <th>Release Date</th>
                <td th:text="${film.release_date}"></td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>

