<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="fragments/layout">

<head>
    <title>Star Wars</title>
</head>

<body>

<div layout:fragment="content">
    <div class="jumbotron" style="text-align: center">
        <h1 style="text-align: center" th:text="${person.name}"></h1>
        <hr/>
        <table>
            <tr>
                <th>Name</th>
                <td th:text="${person.name}"></td>
            </tr>
            <tr>
                <th>Height</th>
                <td th:text="${person.height}"></td>
            </tr>
            <tr>
                <th>Mass</th>
                <td th:text="${person.mass}"></td>
            </tr>
            <tr>
                <th>Hair Color</th>
                <td th:text="${person.hair_color}"></td>
            </tr>
            <tr>
                <th>Skin Color</th>
                <td th:text="${person.skin_color}"></td>
            </tr>
            <tr>
                <th>Eye Color</th>
                <td th:text="${person.eye_color}"></td>
            </tr>
            <tr>
                <th>Birth Year</th>
                <td th:text="${person.birth_year}"></td>
            </tr>
            <tr>
                <th>Gender</th>
                <td th:text="${person.gender}"></td>
            </tr>
            <tr>
                <th>Homeworld</th>
                <td><a class="hyperlink-text" th:href="${'/planets/details/' + person.homeworld}" th:text="${person.homeworld}">Planet Name</a></td>
            </tr>
            <tr>
                <th>Films</th>
                <td>
                    <div th:each="film : ${person.films}">
                        <a class="hyperlink-text" th:href="${'/films/details/' + film}" th:text="${film}">Title</a>
                    </div>
                </td>
            </tr>
            <tr>
                <th>Species</th>
                <td>
                    <div th:each="species : ${person.species}">
                        <a class="hyperlink-text" th:href="${'/species/details/' + species}" th:text="${species}">Name</a>
                    </div>
                </td>
            </tr>
            <tr>
                <th>Vehicles</th>
                <td>
                    <div th:each="vehicle : ${person.vehicles}">
                        <a class="hyperlink-text" th:href="${'/vehicles/details/' + vehicle}" th:text="${vehicle}">Name</a>
                    </div>
                </td>
            </tr>
            <tr>
                <th>Starships</th>
                <td>
                    <div th:each="starship : ${person.starships}">
                        <a class="hyperlink-text" th:href="${'/starships/details/' + starship}" th:text="${starship}">Name</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>

