<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="fragments/layout">

<head>
    <title>Star Wars</title>
</head>

<body>

<div layout:fragment="content">
    <div class="jumbotron" style="text-align: center">
        <h1 class="display-4" style="text-align: center">Hello, welcome to the Star Wars Details Page!</h1>
        <hr class="my-4">

        <img th:src="@{/images/starwars.png}" class="img-fluid" alt="Responsive image"/>
        <div class="lead " data-block-type="2" id="block-yui_3_17_2_1_1546889297962_1611116">
            <div class="sqs-block-content">
                <p class="" style="white-space:pre-wrap;"><br><br></p>
                <h3 style="white-space:pre-wrap;">"May the force be with you!"</h3>
            </div>
        </div>
        <hr class="my-4">
<!--        <p>We bring all your favourite films in one place. Go look now!</p>-->
        <p class="lead">
            <a class="button" href="/people" role="button">Explore</a>
        </p>
    </div>
</div>

</body>
</html>